# COGS 108 - Data Checkpoint

# Names

- Dominic Chua
- Brandon Chen
- Anna Morozova
- Taha Alam
- Yvonne Liu

<a id='research_question'></a>
# Research Question

*In the past 10 years is there a correlation to how recent precipitation (3 days prior) modulates the risk for car accidents in the state of California (comparing North and South California)?*

# Dataset(s)

- - -

1) [Climate Data Online: Dataset Discovery](https://www.ncdc.noaa.gov/cdo-web/datasets#GHCND)

- The National Oceanic and Atmospheric Administration (NOAA) is a United States organization that maintains historical and real time weather data that is publicly available. We intend to collect 10 years worth of precipitaion data from 2011 through 2021 for six different cities, three in the northern half of California and three in the southern half of California. 


- - -

2) [Statewide Integrated Traffic Records System](https://iswitrs.chp.ca.gov/Reports/jsp/CollisionReports.jsp)

- The Statewide Integrated Traffic Records System (SWITRS) is a database that collects and processes data gathered from a collision scene. The Internet SWITRS application is a tool that leverages this database to allow California Highway Patrol (CHP) staff, members of its Allied Agencies, as well as researchers and members of the public to request various types of statistical reports in an electronic format. The application allows for the creation of custom reports requested by the user based on different categories including, but not limited to locations, dates, and collision types. 


- - -

3) [Precipitation Car Crash Datasets](https://github.com/DeusSeos/Precipitation-Car-Crash-Datasets)

- Aggregate car crash and precipitation data for Bakersfield, Palm Springs, Sacramento, San Diego, San Jose, and Stockton. Data is from the time frame 2011 through 2021. The datasets are hosted on a public repository. 


- - -

We will be using pandas to concatentate the precipitation data and car crash data into a 10-year dataframe per city. We will then perform data cleaning in order to create concise visualizations.

- - -

# Setup

Import all necessary packages: numpys, pandas, and matplotlib

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Data Cleaning

Import all data from GitHub. DataFrames will use the following abbrieviations for cities:
- BF: Bakersfield
- PS: Palm Springs
- SD: San Diego
- SAC: Sacramento
- SJ: San Jose
- ST: Stockton

In [2]:
collision_headers = ["CASE_ID","ACCIDENT_YEAR","PROC_DATE","JURIS","COLLISION_DATE","COLLISION_TIME","OFFICER_ID","REPORTING_DISTRICT","DAY_OF_WEEK","CHP_SHIFT","POPULATION","CNTY_CITY_LOC","SPECIAL_COND","BEAT_TYPE","CHP_BEAT_TYPE","CITY_DIVISION_LAPD","CHP_BEAT_CLASS","BEAT_NUMBER","PRIMARY_RD","SECONDARY_RD","DISTANCE","DIRECTION","INTERSECTION","WEATHER_1","WEATHER_2","STATE_HWY_IND","CALTRANS_COUNTY","CALTRANS_DISTRICT","STATE_ROUTE","ROUTE_SUFFIX","POSTMILE_PREFIX","POSTMILE","LOCATION_TYPE","RAMP_INTERSECTION","SIDE_OF_HWY","TOW_AWAY","COLLISION_SEVERITY","NUMBER_KILLED","NUMBER_INJURED","PARTY_COUNT","PRIMARY_COLL_FACTOR","PCF_CODE_OF_VIOL","PCF_VIOL_CATEGORY","PCF_VIOLATION","PCF_VIOL_SUBSECTION","HIT_AND_RUN","TYPE_OF_COLLISION","MVIW","PED_ACTION","ROAD_SURFACE","ROAD_COND_1","ROAD_COND_2","LIGHTING","CONTROL_DEVICE","CHP_ROAD_TYPE","PEDESTRIAN_ACCIDENT","BICYCLE_ACCIDENT","MOTORCYCLE_ACCIDENT","TRUCK_ACCIDENT","NOT_PRIVATE_PROPERTY","ALCOHOL_INVOLVED","STWD_VEHTYPE_AT_FAULT","CHP_VEHTYPE_AT_FAULT","COUNT_SEVERE_INJ","COUNT_VISIBLE_INJ","COUNT_COMPLAINT_PAIN","COUNT_PED_KILLED","COUNT_PED_INJURED","COUNT_BICYCLIST_KILLED","COUNT_BICYCLIST_INJURED","COUNT_MC_KILLED","COUNT_MC_INJURED","PRIMARY_RAMP","SECONDARY_RAMP"]
#import of all city data
#Bakersfield Data 
BF_2011_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Bakersfield/2011-2015-BF.csv")
BF_2016_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Bakersfield/2016-2021-BF.csv")
BF_weather = pd.concat([BF_2011_weather, BF_2016_weather])
BF_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Bakersfield/2011-2021CollisionRecords.txt", names=collision_headers)

PS_2011_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Palm-Springs/2011-2015-PS.csv")
PS_2016_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Palm-Springs/2016-2021-PS.csv")
PS_weather = pd.concat([PS_2011_weather, PS_2016_weather])
PS_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Palm-Springs/2011-2021CollisionRecords.txt", names=collision_headers)


SAC_2011_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Sacramento/2011-2015-SAC.csv")
SAC_2016_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Sacramento/2016-2021-SAC.csv")
SAC_weather = pd.concat([SAC_2011_weather, SAC_2016_weather])
SAC_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Sacramento/2011-2021CollisionRecords.txt", names=collision_headers)

SD_2011_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Diego/2011-2015-SD.csv")
SD_2016_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Diego/2016-2021-SD.csv")
SD_weather = pd.concat([SD_2011_weather, SD_2016_weather])
SD_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Diego/2011-2021CollisionRecords.txt", names=collision_headers)

SJ_2011_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Jose/2011-2015-SJ.csv")
SJ_2016_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Jose/2016-2021-SJ.csv")
SJ_weather = pd.concat([SJ_2011_weather, SJ_2016_weather])
SJ_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Jose/2011-2021CollisionRecords.txt", names=collision_headers)

ST_2011_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Stockton/2011-2015-ST.csv")
ST_2016_weather = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Stockton/2016-2021-ST.csv")
ST_weather = pd.concat([ST_2011_weather, ST_2016_weather])
ST_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Stockton/2011-2021CollisionRecords.txt", names=collision_headers)

## Drop all columns in the dataframe that are not needed

C:\Users\mille\AppData\Local\Temp\ipykernel_8508\436099148.py:7: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  BF_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Bakersfield/2011-2021CollisionRecords.txt", names=collision_headers)
C:\Users\mille\AppData\Local\Temp\ipykernel_8508\436099148.py:18: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  SAC_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Sacramento/2011-2021CollisionRecords.txt", names=collision_headers)
C:\Users\mille\AppData\Local\Temp\ipykernel_8508\436099148.py:23: DtypeWarning: Columns (7,14,17,33) have mixed types. Specify dtype option on import or set low_memory=False.
  SD_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Diego/2011-2021CollisionRecords.txt", names=collision_headers)
C:\Users\mille\AppData\Local\Temp\ipykernel_8508\436099148.py:28: DtypeWarning: Columns (6,14,33) have mixed types. Specify dtype option on import or set low_memory=False.
  SJ_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/San-Jose/2011-2021CollisionRecords.txt", names=collision_headers)
C:\Users\mille\AppData\Local\Temp\ipykernel_8508\436099148.py:33: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  ST_collision = pd.read_csv("https://raw.githubusercontent.com/DeusSeos/Precipitation-Car-Crash-Datasets/main/Stockton/2011-2021CollisionRecords.txt", names=collision_headers)

Let's take a look at the current states of a few of our dataframes:

In [3]:
ST_weather.head()

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD
0,US1CASJ0003,"STOCKTON 2.1 NW, CA US",2011-01-01,NaN,NaN,0.18,NaN,NaN
1,US1CASJ0003,"STOCKTON 2.1 NW, CA US",2011-01-02,NaN,NaN,0.20,NaN,NaN
2,US1CASJ0003,"STOCKTON 2.1 NW, CA US",2011-01-03,NaN,NaN,0.19,NaN,NaN
3,US1CASJ0003,"STOCKTON 2.1 NW, CA US",2011-01-04,NaN,NaN,0.00,0.0,NaN
4,US1CASJ0003,"STOCKTON 2.1 NW, CA US",2011-01-05,NaN,NaN,0.02,NaN,NaN

In [4]:
ST_collision.head()

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_VISIBLE_INJ,COUNT_COMPLAINT_PAIN,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP
0,4752440,2011,20121002,9265,20110403,1448,13919,NaN,7,2,...,1,0,0,0,0,0,0,0,TO,-
1,4752480,2011,20121010,9265,20110404,1840,015156,NaN,1,2,...,0,0,0,0,0,0,0,0,-,-
2,4753441,2011,20120411,3905,20110216,1745,2072,CIV,3,5,...,1,1,0,0,0,0,0,0,-,-
3,4753442,2011,20120411,3905,20110218,1604,2277,LAK,5,5,...,0,1,0,0,0,0,0,0,-,-
4,4753445,2011,20120411,3905,20110223,854,1323,LAK,3,5,...,1,0,0,0,0,1,0,0,-,-

Here we create the functions to clean each dataframe. There are two functions used to clean the two types of dataframes:
<br>
<br>
`clean_collision_data` - cleans the dataframes containing collision data
* removes all columns except the date and the weather type of that day
* renames the collision date column to `DATE` and weather type column to `WEATHER`
* changes the dates in the `DATE` column to pandas `datetime` objects
* relabels the weather type in the `WEATHER` column to actual weather patterns instead of just letters
<br>
<br>

`clean_weather_data` - cleans the dataframes containing weather data
* drops all columns except the `DATE` and `PRCP` columns
* changes the dates in the `DATE` column to pandas `datetime` objects

In [5]:
def clean_collision_data(df):
    df = df.drop(["CASE_ID","ACCIDENT_YEAR","PROC_DATE","JURIS","COLLISION_TIME","OFFICER_ID","REPORTING_DISTRICT","DAY_OF_WEEK","CHP_SHIFT","POPULATION","CNTY_CITY_LOC","SPECIAL_COND","BEAT_TYPE","CHP_BEAT_TYPE","CITY_DIVISION_LAPD","CHP_BEAT_CLASS","BEAT_NUMBER","PRIMARY_RD","SECONDARY_RD","DISTANCE","DIRECTION","INTERSECTION","WEATHER_2","STATE_HWY_IND","CALTRANS_COUNTY","CALTRANS_DISTRICT","STATE_ROUTE","ROUTE_SUFFIX","POSTMILE_PREFIX","POSTMILE","LOCATION_TYPE","RAMP_INTERSECTION","SIDE_OF_HWY","TOW_AWAY","COLLISION_SEVERITY","NUMBER_KILLED","NUMBER_INJURED","PARTY_COUNT","PRIMARY_COLL_FACTOR","PCF_CODE_OF_VIOL","PCF_VIOL_CATEGORY","PCF_VIOLATION","PCF_VIOL_SUBSECTION","HIT_AND_RUN","TYPE_OF_COLLISION","MVIW","PED_ACTION","ROAD_SURFACE","ROAD_COND_1","ROAD_COND_2","LIGHTING","CONTROL_DEVICE","CHP_ROAD_TYPE","PEDESTRIAN_ACCIDENT","BICYCLE_ACCIDENT","MOTORCYCLE_ACCIDENT","TRUCK_ACCIDENT","NOT_PRIVATE_PROPERTY","ALCOHOL_INVOLVED","STWD_VEHTYPE_AT_FAULT","CHP_VEHTYPE_AT_FAULT","COUNT_SEVERE_INJ","COUNT_VISIBLE_INJ","COUNT_COMPLAINT_PAIN","COUNT_PED_KILLED","COUNT_PED_INJURED","COUNT_BICYCLIST_KILLED","COUNT_BICYCLIST_INJURED","COUNT_MC_KILLED","COUNT_MC_INJURED","PRIMARY_RAMP","SECONDARY_RAMP"], axis=1)
    df['COLLISION_DATE'] = pd.to_datetime(df['COLLISION_DATE'], format = '%Y%m%d')
    df = df.rename(columns  = {'COLLISION_DATE': 'DATE', 'WEATHER_1':'WEATHER'})
    df['WEATHER'] = df['WEATHER'].replace({'A': 'Clear', 'B': 'Cloudy', 'C': 'Rain', 'D': 'Snowing', 'E': 'Fog', 'F': 'Other', 'G': 'Wind'})
    df = df.sort_values('DATE').reset_index(drop=True)
    return df

def clean_weather_data(df):
    df.drop_duplicates(subset=['DATE'], inplace=True)
    df_clean = df.drop(['STATION', 'NAME', 'DAPR', 'MDPR', 'SNOW', 'SNWD'], axis=1)
    df_clean['DATE'] = pd.to_datetime(df['DATE'], format = '%Y-%m-%d')
    # df_clean = df.sort_values('DATE').reset_index(drop=True)
    return df_clean

BF_collision = clean_collision_data(BF_collision)
PS_collision = clean_collision_data(PS_collision)
SAC_collision = clean_collision_data(SAC_collision)
SD_collision = clean_collision_data(SD_collision)
SJ_collision = clean_collision_data(SJ_collision)
ST_collision = clean_collision_data(ST_collision)

BF_weather = clean_weather_data(BF_weather)
PS_weather = clean_weather_data(PS_weather)
SAC_weather = clean_weather_data(SAC_weather)
SD_weather = clean_weather_data(SD_weather)
SJ_weather = clean_weather_data(SJ_weather)
ST_weather = clean_weather_data(ST_weather)

Again, let's take a look at the current state of the cleaned data:

In [6]:
ST_weather.head()

        DATE  PRCP
0 2011-01-01  0.18
1 2011-01-02  0.20
2 2011-01-03  0.19
3 2011-01-04  0.00
4 2011-01-05  0.02

In [7]:
ST_collision.head()

        DATE WEATHER
0 2011-01-01  Cloudy
1 2011-01-01   Clear
2 2011-01-01    Rain
3 2011-01-01    Rain
4 2011-01-01    Rain
5 2011-01-01    Rain
6 2011-01-01  Cloudy
7 2011-01-01  Cloudy
8 2011-01-02  Cloudy
9 2011-01-02    Rain

Combining our collisions on a certain day into a count. 

`collision_per_day` - Combines by date the given dataframe

- groups dataframe by the `DATE` column
- keep `WEATHER` column and keep the first value
- sums up the total of the `COUNT` column

In [8]:
BF_collision['COUNT'] = 1
PS_collision['COUNT'] = 1
SAC_collision['COUNT'] = 1
SD_collision['COUNT'] = 1
SJ_collision['COUNT'] = 1
ST_collision['COUNT'] = 1

def collisions_per_day(df):
    return df.groupby(df['DATE']).aggregate({'WEATHER' : 'first', 'COUNT' : 'sum'}).reset_index()
    
BF_collision = collisions_per_day(BF_collision)
PS_collision = collisions_per_day(PS_collision)
SAC_collision = collisions_per_day(SAC_collision)
SD_collision = collisions_per_day(SD_collision)
SJ_collision = collisions_per_day(SJ_collision)
ST_collision = collisions_per_day(ST_collision)

We now want to associate the collision data with the precipitation data in one dataframe per city. We also want to add a city column for when we combine all the individual dataframes into one dataframe

In [13]:
BFdf = pd.merge(BF_collision, BF_weather, on='DATE', how='left')
PSdf = pd.merge(PS_collision, PS_weather, on='DATE', how='left')
SACdf = pd.merge(SAC_collision, SAC_weather, on='DATE', how='left')
SDdf = pd.merge(SD_collision, SD_weather, on='DATE', how='left')
SJdf = pd.merge(SJ_collision, SJ_weather, on='DATE', how='left')
STdf = pd.merge(ST_collision, ST_weather, on='DATE', how='left')

BFdf['CITY'] = 'BF'
PSdf['CITY'] = 'PS'
SACdf['CITY'] = 'SAC'
SDdf['CITY'] = 'SD'
SJdf['CITY'] = 'SJ'
STdf['CITY'] = 'ST'

STdf

           DATE WEATHER  COUNT  PRCP CITY
0    2011-01-01  Cloudy      8  0.18   ST
1    2011-01-02  Cloudy      9  0.20   ST
2    2011-01-03  Cloudy      6  0.19   ST
3    2011-01-04  Cloudy     10  0.00   ST
4    2011-01-05     Fog      7  0.02   ST
...         ...     ...    ...   ...  ...
3863 2021-12-25  Cloudy      1  0.03   ST
3864 2021-12-27  Cloudy      4  0.46   ST
3865 2021-12-29    Rain      4  0.35   ST
3866 2021-12-30   Clear      2  0.00   ST
3867 2021-12-31   Clear      3  0.00   ST

[3868 rows x 5 columns]

Now that we have all the crash and weather data merged by city, we want to then combine all the dataframes into one large dataframe.

In [15]:
allDataFrames = [BFdf, PSdf, SACdf, SDdf, SJdf, STdf]
weatherCrashDf = pd.concat(allDataFrames)
weatherCrashDf

           DATE WEATHER  COUNT  PRCP CITY
0    2011-01-01   Clear      2  0.04   BF
1    2011-01-02  Cloudy      5  0.12   BF
2    2011-01-03   Clear      4  0.00   BF
3    2011-01-04   Clear      5  0.00   BF
4    2011-01-05   Clear      3  0.00   BF
...         ...     ...    ...   ...  ...
3863 2021-12-25  Cloudy      1  0.03   ST
3864 2021-12-27  Cloudy      4  0.46   ST
3865 2021-12-29    Rain      4  0.35   ST
3866 2021-12-30   Clear      2  0.00   ST
3867 2021-12-31   Clear      3  0.00   ST

[22809 rows x 5 columns]